<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="../../public/images/weather.png">
    <link rel="stylesheet" href="../../public/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpText}}</p>
    </div>
    
    {{>footer}}
</body>

</html>